.profile {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  object-fit: cover;
}

.home_display_image {
  min-height: 100vh;
  background-image: url("https://stimg.cardekho.com/images/carexteriorimages/930x620/Bentley/Flying-Spur/7776/1645012163948/front-left-side-47.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);

  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
}

.leaflet-container {
  height: 100% !important;
}

.location-name {
  font-size: 20px;
  font-weight: 600;

}

.location-location {
  font-size: 13px;
  font-weight: 600;
  color: #676767;
}

.location-description {
  font-size: 16px;

}

.locations-container {
  background-color: #efefef;
  border-radius: 6px;
  padding: 0px !important;

}

.parkingdetailtitle {
  font-size: 20px;
  font-weight: 600;

}

.parkingdetaillocation {
  font-size: 13px;
  font-weight: 600;
  color: #676767;

}

.parkingdetaildescription {
  font-size: 15px;
  font-weight: 400;

}

.parkinginfo {
  font-size: 14px;
  font-weight: 500;

}

.parkingbtn {
  background-color: blue;
}

.bookingcontainer {
  background-color: #f5f5f5;
  margin: 20px;
  padding: 20px;
  border-radius: 16px;
}

.bookedBy {
  font-size: 17px;
  font-weight: 600;
  color: #222;
}

.bookedticketId {
  font-size: 14px;
  font-weight: 600;
  color: #222;
}

.bookedparkingId {
  font-size: 14px;
  font-weight: 600;
  color: #343434;
}

.bookingclosed {
  color: green;
}

.bookingoccupied {
  color: red;
}


.bookingparkingstatus {
  font-size: 14px;
  font-weight: 600;
  color: #343434;
}

.bookingparkingstatuspaid {
  font-size: 14px;
  font-weight: 700;
  color: green;
}

.bookingparkingstatusdue {
  color: red;
}



.nav-link>a {
  text-decoration: none;
  color: #222;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 1% 0 0;
  margin: auto;
}
.login-page .form .login{
  margin-top: -31px;
margin-bottom: 26px;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 500px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #32428f;
  background-image: linear-gradient(45deg,#32428f,#32428f);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4c56af;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

body {
  background-color: #b4c5e6;
  background-image: linear-gradient(45deg,#cad7f0,#cad7f0);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}